
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300|Lato:300,400);

body {
  background: #252731;
  line-height: 1.4;
  margin: 6em 0;
  overflow:hidden;
}

section {
  width: 500px;
  margin: auto;
  perspective: 900px;
}

.card {
  background: rgba(255, 255, 255, 0.9);
  font-family: 'Roboto Condensed', sans-serif;
  padding: .5em 2em;
  border-radius: 4px;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.03), 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  margin: auto;
  width: 430px;
  text-align: center;
  transform: rotateX(15deg);
}

.inner {
  margin: 1em 0 2em 0;
}

h2 {
  text-shadow: 2px 2px green;
  color: #FB5362;
  font-family: 'Pacifico', cursive;
  text-transform:uppercase;
  font-size: 2rem;
  font-weight: 600;
  margin: 0 0 .15em 0;
}

h3 {
  margin: 0 0 .5em 0;
}

p {
  font-size:25px;
  margin: 0 30px 0 0;
  color: #333;
}
div#MainTime, div#MainDate{
  font-size: 25px;
  display: block;
}
.icon-space {
  margin-top: -89px;

}
.icon-space img {
  display: block;
  margin: auto;
  width: 100px;
  height: 100px;
  transform: translateY(-7px);
}

button {
  width: auto;
  height: 40px;
  display: block;
  margin: 2em auto;
  padding: 0 5%;
  border: none;
  border-radius: 4px;
  background-color: #1A9DB4;
  color: whitesmoke;
  font-size: 1.2em;
  font-family: 'Roboto', sans-serif; 
  cursor: pointer;
  font-weight: 400;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.03), 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  transition: background-color .3s ease-out;
}
button:hover {
  background-color: #FB5362;
}

section {
  animation: slideIn .8s linear, fadeIn .2s ease-in;
}



@keyframes slideIn {
  0% {
    transform: translateY(400px) scale(0);
    animation-timing-function: ease-out;
	
  }
  60% {
    transform: translateY(-50px) scale(0.6);
    animation-timing-function: ease-in;
  }
  80% {
    transform: translateY(10px) scale(0.8);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0) scale(1.0);
    animation-timing-function: ease-in;

  }
}

@keyframes fadeIn {
  from{ opacity:0; }
  to { opacity: 1; }
}















